name: Dart CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    container:
      image:  google/dart:latest

    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      uses: steebchen/flutter@v1.0.0
      with:
        args: pub get
    - name: Run tests
      run: pub run test
    - name: Flutter CLI
      uses: steebchen/flutter@v1.0.0
      with:
        args: build apk --debug

